.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* flex-direction: row; */
    flex-direction: column-reverse;
    flex-direction: row;
    flex-direction: row-reverse;
}

div[class^="box"] {
    width: 100px;
    height: 100px;
    margin: 0 5px;
    background-color: lightblue;
    border: 1px solid black;
    margin-top: 5px;

}