.container {
    width: 800px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

div[class^="box"] {
    width: 60px;
    height: 50px;
    background-color: lightblue;
    margin: 5px 5px;
    text-align: center;
    line-height: 50px;
}

.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8 {
    flex: 1;
}

.box9 {
    flex: 2;
}

.box3 {
    flex: initial;
}