.city {
    width: 400px;
    height: auto;
}

.img-rounded {
    border-radius: 10px;
}

.img-circle {
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

.thumbnail {
    width: 150px;
    height: auto;
    /* border: 2px double rgb(177, 174, 174); */
    border-width: 5px;
    border-style: double;
    border-color: rgb(177, 174, 174);
}

.thumbnail:hover {
    box-shadow: 0px 0px 2px 2px rgb(55, 186, 230);
    width: 155px;
    height: auto;
}

.card {
    width: 400px;
    border: 1px solid red;
    box-shadow: 0 0 2px 2px lightgreen;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px 20px;
}

.card-image {
    width: 100%;
}

.card-text {
    text-align: center;
}

.london-bg {
    height: 800px;
    background-color: aquamarine;
    background-image: url(../../images/london.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}